:root {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;

  --background-color-dark: #101116;
  --background-color-light-dark: rgba(40, 40, 40, 0.8);
  /* --background-color-light-dark: rgba(255, 255, 255, 0.8); */
  --color-primary: #00ff9c;
  --color-secondary: #60fdff;
  --text-color-100: #ffffff;
  --text-color-200: #c7c7c7;
  --text-color-300: #76ff9f;
  --text-error: #dc3545;
  --scroll-color: #424242;
  --scroll-hover-color: #424242;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color-light-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.text-primary {
  color: var(--color-primary);
}

.link-secondary {
  color: var(--color-secondary);
  border-bottom: 2px dashed var(--color-secondary);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.link-secondary:hover {
  border-bottom-style: solid;
}